<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
     style 
        include FrontPageStyle.css
</head>
<nav  id="Navigation_Bar">
    <ul id="navlist" >
        <li><a href="/Home">Home</a></li>
        <li><a href="/About">About Me</a></li>
        <li><a href="/Contact">Contact Me</a></li>
        <li><a href="/Project">Projects</a></li>
    </ul>
    <ul id="mylogo" onclick="playit(audio)">
    </ul>
</nav>
<nav>
    <ul id="items">
        <li><a href="/Home">Home</a></li>
        <li><a href="/About">About Me</a></li>
        <li><a href="/Contact">Contact Me</a></li>
        
    </ul>
</nav>
<nav>
 <div id="phone">
    <ul id="Menu">
        <li onclick="menubar()" class="Upline"></li>
        <li class="Upline" onclick="menubar()"></li>
        <li class="Upline" onclick="menubar()"></li>
    </ul>
    <ul id="portfolio">
       <span>Port</span>
       <span id="port">folio</span>
    </ul>
    <ul>
       <li id="phlogo"  onclick="playit(audio)"></li>
    </ul>
 </div>
</nav>
<section>
    <ul id="Name_And_ImageSection">
        <div id="Align_Names">
            <li id="Iam">Hey, I'm</li>
            <li id="praveen">PRAVEEN KUMAR </li>
            <li>
                <ul id="Icons">
                    <li><a href="https://twitter.com/Praveen86421107" target="_blank"><img style="width: 40px;height: 40px;" src="twitter.png" alt=""></a></li>
                    <li><a href="https://www.instagram.com/pk_daria5/" target="_blank"><img style="width: 40px;height: 40px;padding-left: 30px;" src="instagram.png" alt=""></a></li>
                    <li><a href="https://github.com/Praveenkumarnitkkr"  target="_blank"><img style="width: 40px;height: 40px;padding-left: 30px;" src="git.png" alt=""></a></li>
                    <li><a href="https://www.facebook.com/profile.php?id=100063736275030"  target="_blank"><img style="width: 40px;height: 40px;padding-left: 30px;" src="facebook.png" alt=""></a></li>
                </ul>
            </li>
        </div>
        <li id="Image"></li>
    </ul>
</section>
<section>
    <ul id="Education">
        <li class="line1"></li>
        <li>MY SKILLS</li>
        <li class="line2"></li>
    </ul>
</section>  
<section id="Skills">
    <div style="text-align:center;padding-top:5px;">
        <span id="dot1"></span>
        <span id="dot2"></span>
        <span id="dot3"></span>
        <span id="dot4"></span>
    </div>
    <ul id="Align">
    </ul>
</section>
<section>
    <ul id="Education">
        <li class="line1"></li>
        <li>Education</li>
        <li class="line2"></li>
    </ul>
</section>
<section id="Container">
    <div id="SideImage"></div>
    <div>
        <ul class="list">
            <li style="color:white;">National Institue of Technology-Kurukshetra</li>
            <li style="font-size: 0.7rem; color: black;">B.tech in Producation and Industrial Engineering,2020-2024</li>
            <li style="font-size: 0.9rem;color: white;">Haryana,Kurukshetra </li>
            <li style="font-size: 0.8rem; font-weight: 400;">Learning and achievements from Institue</li>
            <li style="font-size: 0.8rem; font-weight: 400;"></li>
            <li style="font-size: 0.8rem; font-weight: 400;">NIT Kurukshetra presented unprecedented scale and diversity of opportunity. In my two years of phenomenal learning across my disciplines pushed me to expand, challenge, and adjust my worldview..</li>
            <li style="font-size: 0.8rem; font-weight: 400;"> My engagement in  tech & innovation exercised my creative muscle, sparked my obsession with design, and strengthened my tolerance to adversity. </li>
            <li style="font-size: 0.8rem; font-weight: 400;">It showed me what I love to do, gifted me with a love for learning, and surrounded me with a wealth of inspiring peers.</li>
            <li style="font-size: 0.8rem; font-weight: 400;">Discovering how to deal with the situations when things not go your way, dealing with wrongs and rights and still learning and Going beyond me... </li>
        </ul>
    </div>
</section>
<section id="Container" style="background-color: #8046a4;">
    <a id="SideImage1" href="https://live-sl-media-storage.s3.ap-south-1.amazonaws.com/34898/0QbTUcI4MErEWXfG2aAwWgXzkUJZmdBKW3diKiia.jpeg" target="_blank"></a>
    <div>
        <ul class="list">
            <li style="color:white;">Sanskar Science Academy</li>
            <li style="font-size: 0.7rem; color:black;">Higher Senior Secondary, 2017-2019</li>
            <li style="font-size: 0.9rem;color: white;">Jhunjhunu,Rajasthan</li>
            <li style="font-size: 0.8rem; font-weight: 400;">Learning and achievements from Institue</li>
            <li style="font-size: 0.8rem; font-weight: 400;">I'm grateful for these two years.SSA was where I learned how to be a good leader and articulate  ideas (as a School boy), competed in many Kabaddi tournaments (lead the team as captain), fell in love with learning, facilitated service events for the local community, designed a leadership development program for underclassmen, and discovered a passion for the arts. </li>
            <li style="font-size: 0.8rem; font-weight: 400;">Getting  93% percentage was a dream comes true and that time where I comes beyond me. And importantly, it was at SSA where I felt like I could finally be my weird self.</li>
            <!-- <li style="font-size: 0.8rem; font-weight: 400;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, quas.</li> -->
            <!-- <li style="font-size: 0.8rem; font-weight: 400;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut natus ullam sed doloremque aliquid veritatis? Neque consequuntur nostrum reprehenderit asperiores nulla inventore molestiae iste at provident quisquam magnam incidunt exercitationem similique distinctio voluptas ea, obcaecati eius eveniet beatae veritatis? Voluptatibus est omnis eaque aut quas accusantium sed dolore, natus maxime.</li> -->
        </ul>
    </div>
</section>
<footer id="chat">
    <li style="font-weight: bold;">Start a project</li>
    <li style="display: flex;flex-direction: column;">
        <span>Interested in working with me? We should</span>
        <span>queue up a chat. I'll not buy the coffee</span>
    </li>
    <li style="border: 2px solid blue;padding: 10px;border-radius:10px;width: 100px;"><a style="text-decoration: none;color: white;" href="/Contact">Let's do this</a></li>
</footer>
script.
    nextimage();
    function nextimage(){
        const links=["programmer.jpg","app.jpg","webd.jpg",'graphic.jpg'];
         if ( nextimage.counter == undefined ) {
        nextimage.counter = 0;
        }
        else if(nextimage.counter<links.length-1){
            nextimage.counter++;
        }
        else {
            nextimage.counter=0;
        }
    const next=document.getElementById('Skills');
    next.style.backgroundImage = 'url(' + links[nextimage.counter] + ')';
    setTimeout(nextimage, 4000);
    nextdot();
    }
    function nextdot(){
         const first=document.getElementById('dot1');
         const second=document.getElementById('dot2');
         const third=document.getElementById('dot3');
         const fourth=document.getElementById('dot4');
         if(nextdot.counter==undefined ||nextdot.counter==0){
             nextdot.counter=1;
            first.style.backgroundColor="pink";
            second.style.backgroundColor="transparent";
            third.style.backgroundColor="transparent";
            fourth.style.backgroundColor="transparent";
         }
         else if(nextdot.counter==1){
             first.style.backgroundColor="transparent";
             third.style.backgroundColor="transparent";
             fourth.style.backgroundColor="transparent";
             second.style.backgroundColor="pink";
             nextdot.counter++;
         }
         else if(nextdot.counter==2){
             first.style.backgroundColor="transparent";
             second.style.backgroundColor="transparent";
             fourth.style.backgroundColor="transparent";
             third.style.backgroundColor="pink";
             nextdot.counter++;
         }
         else if(nextdot.counter==3){
             first.style.backgroundColor="transparent";
             second.style.backgroundColor="transparent";
             third.style.backgroundColor="transparent";
             fourth.style.backgroundColor="pink";
             nextdot.counter=0;
         }
    }
    function menubar(){
        let first=document.getElementById('items');
        if(first.style.display!='flex'){
               document.getElementById("items").style.display = "flex";
        }
       else{
           document.getElementById("items").style.display = "none";
       }
    }
    const audio=new Audio();
    audio.src="webaudio.mp3";
    function playit(audio){
        if(playit.counter==undefined||playit.counter==0){
           audio.play();
           playit.counter=1;
        }
        else {
            audio.pause();
            playit.counter=0;
        }

    }